.nav-tabs {
  margin-bottom: 30px;
  border-color: #ddd;
}

.nav-tabs .nav-link {
  padding-top: 1.15rem;
  padding-bottom: 1.15rem;
  border: none;
  border-bottom: 2px solid transparent;
  color: #212529;
}

.nav-tabs .nav-link.disabled {
  color: #a5a6a9;
}

.nav-tabs .nav-link:hover {
  border: none;
  color: var(--bs-primary);
}

.nav-tabs .active {
  font-weight: 800;
  background-color: transparent !important;
  color: var(--bs-primary) !important;
  border-bottom: 3px solid var(--bs-primary) !important;
}
.nav-tabs .active-danger {
  font-weight: 800;
  background-color: transparent !important;
  color: #dc3545 !important;
  border-bottom: 3px solid #dc3545 !important;
}
