{% extends '@SfsComponents/layout/admin.html.twig' %}

{% block breadcrums_content %}
    {{ parent() }}
    <li class="breadcrumb-item active"
        aria-current="content">Dashboard</li>
{% endblock breadcrums_content %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="h3">Dashboard</h1>
        </div>
    </div>

    <div class="bg-white px-2 py-3">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-md-12">
                    <h3>Welcome to Symfonic admin panel.</h3>
                    <p>Here you can manage your website content.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <h4>Get started</h4>
                    <ul>
                        <li><a href="#">Read the user guide</a></li>
                    </ul>
                </div>
                <div class="col-3">
                    <h4>Next steps</h4>
                    <ul>
                        <li><a href="#">Create new page</a></li>
                        <li><a href="#">Configure menu</a></li>
                        <li><a href="#">Review your sitemap</a></li>
                    </ul>
                </div>
                <div class="col-3">
                    <h4>More actions</h4>
                    <ul>
                        <li><a href="#">Invite another administrator</a></li>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}